<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" type="image/png" href="./img/pokedex.png"/>
    <title>Detalhes da Pokedéx</title>
</head>

<body>

    <nav>
        <article>
            <img src="/img/pokebola.png" alt="">
            <h1><a href="/">Pokédex</a></h1>
        </article>

        <ul>
            <li><a href="/">Início</a></li>
            <li><a href="/cadastro">Cadastro</a></li>
        </ul>
    </nav>

    <header>
        <h1>
            <%= pokemon.nome %><span style="font-weight: 150"> N° <%= pokemon.numero %> </span>
        </h1>
    </header>

    <section id="details">
        <img src="<%= pokemon.imagem %>" alt="">
        <div id="infos">
            <p id="descricao">
                <%= pokemon.descricao %>    
            </p>
            <br>
            <div id="info-datail">
                <div class='col' id="primeiraColuna">
                    <h4>Altura: <%= pokemon.altura %></h4>
                
                    <h4>Peso: <%= pokemon.peso %></h4>
                
                    <h4>Categoria: <%= pokemon.categoria %></h4>
                   
                    <h4>Habilidade: <%= pokemon.habilidade %></h4>

                    <h4>Tipo: <%= pokemon.tipo %></h4>
                </div>
            </div>
            <br>
        </div>


    </section>

    <script src="/js/script.js"></script>

</body>

</html>